:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f172a;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #0f172a;
}

#root {
  width: 100%;
  display: block !important;   /* FIXES THE TOP GAP */
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}
